{% extends "clientes/base_clientes.html" %}
{% block ordenes %}class="active"{% endblock %}
{% block tab-content %}<div class="tabs-content">
   	<h2>Ordenes</h2>
	<div class="white-box">{% with  cliente.ordenes as ordenes %}{% if ordenes %}
	<h3>Ultimas Ordenes Registradas</h3>
	<table>
	<tr>
		<th>Codigo Orden</th>
		<th>Cantidad Orden</th>
		<th>Talla</th>
		<th>Fecha Registro</th>
		<th>Ver Estado</th>
	</tr>
{% for orden in ordenes %}<tr>
<td>{{ orden.pk }}</td>
<td>{{ orden.cantidad }}</td>
<td>{{ orden.talla }}</td>
<td>{{ orden.fecha_registro }}</td>
<td><a href="/zonacliente/orden/{{ orden.pk }}/">+ Ver Mas</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<h3>Ultimas Ordenes Registradas</h3>
<p>Lo siento usted no tiene ninguna orden registrada.</p>
<p>Puede ingresar una orden ahora: <a href="/zonacliente/orden/registrar/">Registrar Orden de Pedido +</a></p>
{% endif %}{% endwith %}
    </div>
</div>
{% endblock %}