{% extends "base.html" %}
{% block title %}{{ titulo }} :: Zona clientes{% endblock %}
{% block cuerpo %}
{% block branding %}
<h1 id="site-name">Lavanderia MiraFlores :: Zona clientes</h1>
{% endblock %}
{% block content %}
<div id="shoutout-section">
    <p>Realize su primera orden y verificara la calidad de nuestros servicios!</p>
</div>
<div id="intro-section">
    <div id="user-info">
        <em class="hello-user">Bienvenido <span>{{ cliente|title }}!</span></em>
        {% if tipo_cambio %}<p>Tipo de Cambio <span>{{ tipo_cambio }} Bs</span></p>{% endif %}
    </div>
    <div id="add-orden">
        <a href="/zonacliente/orden/registrar/">Registrar Orden de Pedido +</a>
    </div>
    <div id="ordenes">
        <a href="/zonacliente/orden/">Verifica el estado de tus ordenes</a>
    </div>
    <div class="clear"></div>
</div>
<div class="tabs">
   	<ul>
        <li {% block inicio %}{% endblock %}><a href="/zonacliente/inicio/">Inicio</a></li>
        <li {% block ordenes %}{% endblock %}><a href="/zonacliente/orden/">Ordenes</a></li>
        <li {% block registrar %}{% endblock %}><a href="/zonacliente/orden/registrar/">Registrar</a></li>
    </ul>
</div>
{% block tab-content %}
{% endblock %}
{% endblock %}
{% endblock %}
