{% extends "clientes/base_clientes.html" %}
{% load i18n admin_static %}
{% load url from future %}
{% block title %}Ingresar :: Zona Clientes{% endblock %}
{% block content %}
<div class="tabs">
   	<ul><li class="active">Ingresar</li></ul>
</div>
<div class="tabs-content">
   	<h2>Ingresar a Zona de Clientes</h2>
    <p>Con una cuenta de cliente usted podra ingresar a la zona de clientes.</p>
	<div class="white-box">
        <h3>Ingresar</h3>
		{% if messages %}{% for message in messages %}<p>{{ message }}</p>{% endfor %}{% endif %}
        <form action="/zonacliente/ingresar/" method="post" id="login-form">{% csrf_token %}
                <p><label for="id_username">Documento:</label> <input id="id_username" type="text" name="username" maxlength="15" /></p>
                <p><label for="id_password">Contrasena:</label> <input id="id_password" type="password" name="password" maxlength="15" /></p>
                <p><span id="form-buttons" class="clearfix"><input id="cancel-button" type="submit" value="Ingresar" /></span></p>
            </form>
            <p>Si usted no tiene una cuenta puede <a href="/zonacliente/registro/">registrarse en el sistema</a> y realizar seguimiento
            en linea del proceso de sus pedidos!</p>
    </div>
</div>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
