{% extends "clientes/base_clientes.html" %}
{% load i18n admin_static %}
{% load url from future %}
{% block title %}Ingresar :: Zona Clientes{% endblock %}
{% block content %}
<div id="tabs">
   	<ul><li class="active">Ingresar</li></ul>
</div>
<div id="tabs-content">
   	<h2>Ingresar a Zona de Clientes</h2>
    <p>Con una cuenta de cliente usted podra ingresar a la zona de clientes.</p>
	<div id="white-box">
        <h3>Ingresar</h3>
        <form action="{% url "ingresar" %}" method="post" id="login-form">{% csrf_token %}
        {{ form.as_p }}
        <p><span id="form-buttons" class="clearfix">
            <input id="cancel-button" type="submit" value="Ingresar" />
        </span></p>
        </form>
    </div>
</div>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
