{% extends "clientes/base_clientes.html" %}
{% block content %}
<div id="tabs">
   	<ul><li class="active">Registro</li></ul>
</div>
<div id="tabs-content">
   	<h2>Cuenta de Cliente Creada Satisfactoriamente!!</h2>
    <p></p>
	<div id="white-box">
        <h3>Ingresar a la Zona de Clientes</h3>
        <h3>Ingresar</h3>
        <form action="/zonacliente/ingresar/" method="post" id="login-form">{% csrf_token %}
        {{ form.as_p }}
        <p><span id="form-buttons" class="clearfix">
            <input id="cancel-button" type="submit" value="Ingresar" />
        </span></p>
        </form>
    </div>
</div>
{% endblock %}