{% extends "paginas/base_paginas.html" %}
{% load cms_tags %}{% load ordenes_tags %}
{% block content %}
<div id="tabs-inicio">
<div class="tabs">
   	<ul>
        <li class="active">Contactanos</li>
    </ul>
</div>
<div class="tabs-content">
    <div class="white-box">
        <form action="." method="post" id="login-form">{% csrf_token %}
        {{ form.as_p }}
        <p>
            <span id="form-buttons" class="clearfix">
            <input id="cancel-button" type="submit" value="Enviar" />
            </span>
        </p>
        </form>
    </div>
</div>
<div class="tabs-content">
    <div class="white-box">
        <h4>Visitanos en cochabamba en:</h4>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=-17.446855,-66.114525&amp;num=1&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-17.44794,-66.113319&amp;spn=0.028659,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=-17.446855,-66.114525&amp;num=1&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=-17.44794,-66.113319&amp;spn=0.028659,0.036478&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Ver Mapa mas grande.</a></small>
    </div>
</div>
</div>
{% endblock %}
