<!doctype html>{% load admin_static %}
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="es"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="es"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="es"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="es"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="es"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<head id="www-lavanderiamiraflores-com" data-template-set="html5-reset">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}{% endblock %}</title>
<meta name="title" content="Lavanderia Miraflores">
	<meta name="description" content="Portal Web de la Empresa Lavanderia Miraflores">
	<meta name="google-site-verification" content="">
	<meta name="author" content="Sergio Hinojosa Avila">
	<meta name="Copyright" content="Copyright Lavanderia Miraflores 2012. All Rights Reserved.">
	<meta name="DC.title" content="Proyecto Portal Miraflores">
	<meta name="DC.subject" content="What you're about.">
	<meta name="DC.creator" content="Who made this site.">
	<!--  Mobile Viewport Fix
	j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
	-->
	<!-- Uncomment to use; use thoughtfully!
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	-->
<link rel="shortcut icon" href="http://media.airtac.pro.bo/img/favicon.ico">
	<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK
		 - see wikipedia for info on browser supp ort: http://mky.be/favicon/ -->
<link rel="apple-touch-icon" href="http://media.airtac.pro.bo/img/apple-touch-icon.png">
	<!-- The is the icon for iOS's Web Clip.
		 - size: 57x57 for older iPhones, 72x72 fo r iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->
	<!-- CSS: screen, mobile & print are all in the same file -->
<link rel="stylesheet" href={% static "css/global.css" %}>
<link rel="stylesheet" href={% static "css/forms.css" %}>
<link rel="stylesheet" href={% static "css/pages.css" %}>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
<body>
<div id="container">
	<div id="header">
    	<h1 id="logo"><a href="/">Miraflores</a></h1>
        <ul class="horizontal-links top-links">
        	<li>{% if cliente %}{{ cliente.nombre_completo|title }}</li><li><a href="{% url salir %}">Salir</a></li>{% else %}<a href="{% url ingresar %}">Ingresar</a></li>
            <li><a href="/zonacliente/registro/">Registrarse</a></li>{% endif %}
            <li class="last"><a href="#">Contactanos</a></li>
        </ul>
    </div>
    <div id="content">
    	<div id="central-column">
             <div id="main-menu">
            	<ul>
                	<li><a class="inicio" href="/inicio/">Inicio</a></li>
                    <li><a class="prelavado" href="/prelavado/">Pre Lavado</a></li>
                    <li><a class="efectos" href="/efectos/">Efectos</a></li>
                    <li><a class="planchado" href="/planchado/">Planchado</a></li>
                    <li><a class="laempresa" href="/laempresa/">La Empresa</a></li>
                    <li class="last"><a class="contactanos" href="/contactanos/">Contactanos</a></li>
                </ul>
            </div>
            <div id="main-content">{% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="push"></div>
	<div id="footer">
    	<ul>
        	<li>2012 Lavanderia Miraflores</li>
            <li><a href="/acerca/">Acerca</a></li>
            <li><a href="/terminos/">Terminos de Servicio</a></li>
          <li class="last"><a href="#">Siguenos en Facebook</a></li>
        </ul>
	</div>
</div>
</body>
</html>
