BeautifulSoup==3.2.1
Django==1.4.2
PyYAML==3.10
SQLite3Database==0.2.0
South==0.7.6
argh==0.17.2
argparse==1.2.1
dj-database-url==0.2.1
django-authority==0.4
django-classy-tags==0.3.4.1
django-cms==2.3.5
django-debug-toolbar==0.9.4
django-mptt==0.5.2
django-sekizai==0.6.1
gunicorn==0.16.1
heroku==0.1.2
html5lib==0.95
pathtools==0.1.2
pysql==0.15
pysqlite==2.6.3
python-dateutil==1.5
requests==0.14.2
watchdog==0.6.0
wsgiref==0.1.2
